[duo]
; Duo integration key
ikey = {{ duo_integration_key }}
; Duo secret key
skey = {{ duo_secret_key }}
; Duo API hostname
host = {{ duo_api_hostname }}
failmode = safe
pushinfo = yes
autopush = yes
prompts = 1
motd = yes
